* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  width: 95%;
  height: 4rem;
  float: right;
  text-align: right;
  margin-top: 2rem;
}

.menue_txt {
  border-right: 2px solid white;
  height: 80%;
  padding-right: 2rem;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

#cont_txt {
  border-right: 2px solid white;
  height: 80%;
  padding-right: 1rem;
}

#nav_span {
  margin-top: 2rem;
  margin-right: 2rem;
}

.menu_wrapper {
  position: fixed;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  height: 4rem;
  color: white;
}

.logo {
  background-image: url(./img/LogoMakr-5CXX1n.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 3rem;
  font-size: large;
}

.menu_list_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list {
  margin-right: 2rem;
  font-size: large;
}

.list_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.list_page.a {
  display: none;
}

.awsome-title {
  margin-top: 3rem;
  height: 3rem;
  font-size: 2.5rem;
}

.copy_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  height: 2.5rem;
  border: 2px solid black;
  align-content: center;
  margin: auto;
  width: 95%;
  margin-bottom: 2rem;
}

.menue_txt:hover {
  color: #ec5242;
}

.menue_txt::selection {
  color: #ae42ec;
}

.new_list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-top: 10rem;
  width: 50%;
}

h2 {
  font-family: monospace;
  font-weight: 800;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

#txt {
  border: 1px solid black;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 1rem;
  height: 2rem;
}

#txtOne {
  border: 1px solid black;
  width: 100%;
  border-radius: 2px;
  margin-top: -25px;
  margin-bottom: 1rem;
  height: 2rem;
}

input,
#txt,
#txtOne {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 2px;
}

.add {
  border: 1px solid black;
  margin-right: 0;
  margin-left: auto;
  border-radius: 2px;
  margin-top: -25px;
  height: 2rem;
  width: 4rem;
}

h1 {
  text-align: center;
  margin-bottom: 0.7rem;
  font-family: monospace;
  font-weight: 800;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  margin-left: 0.3rem;
}

.remove_btn {
  float: right;
  left: 35rem;
  display: inline-block;
}

.book-list {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-content: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto;
  background-color: black;
  color: white;
}

.contact_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  margin-top: 10rem;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.contact {
  margin-bottom: 3rem;
}

.contact-list {
  width: 80%;
  margin-left: 45rem;
}

button {
  background-color: black;
  color: white;
  border-radius: 4px;
}
